.app-modal {
  align-items: center;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.app-modalContent {
  background: #fff;
  border-radius: 3px;
  max-width: 300px;
  padding: 20px;
}